{% extends "components/layout.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="col-lg-10">
    <h1 class="text-uppercase display-4 fw-bold"><span class="text-brand">welcome to my website</span>.
        I'm a <span class="text-brand">Software Engineer</span> from Cuba</h1>
    <p class="mt-2 mb-4">I am Dailin Chibas Goico. I'm getting my degree in Software Engineering on october, 2023. I do
        the planning,
        architecture, developed, deployed and maintenance of all my projects. I always practice my communication skills
        as my technique, consider me as a fast learner</p>
    <a class="btn btn-brand btn-outline-danger text-uppercase p-2" href="http://127.0.0.1:8000/project/">Explore My
        projects</a>
</div>
{% endblock %}