{% load static %}
<footer>
    <nav class="navbar navbar-expand-lg navbar-light p-2" style="background-color: #2e2c2c81;">
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0 col-12">
            <li class="nav-item col-md-6 d-grid col-12 pb-md-2">
                <h2 class="text-white text-uppercase">Software Portfolio Website</h2>
                <span class="text-muted">@2023 All right reserved</span>
            </li>
            <li class="nav-item col-md-5 col-12 pb-md-2">
                <div class="container d-grid">
                    <h2 class="text-white-50 text-uppercase fs-3">Email Me</h2>
                    <a href="mailto:dailinc198@gmail.com"><i class="bi bi-at"></i>dailinc198@gmail.com</a>
                </div>
            </li>
        </ul>
    </nav>
</footer>